body {
  background-color: rgb(113, 112, 112);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.poster {
  max-height: 250px;
  max-width: 250px;
}

.movie-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-edit {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
